src/main/mule/ContactInfo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="ContactInfo-config" raml="ContactInfo.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="ContactInfo-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ContactInfo-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ContactInfo-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ContactInfo-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\communication\(ID):application\json:ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\communication\(ID):application\json:ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="cc4b62f0-b305-4b64-ac1f-fed388c412a4" name="communication_update" />
    </flow>
    <flow name="put:\address\(ID):application\json:ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\address\(ID):application\json:ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="79d43b3b-0452-4cdc-83bc-7355170571c0" name="address_update" />
    </flow>
    <flow name="put:\identification\(ID):application\json:ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="175d18b3-9236-43b4-89f5-18840f72946b">
            <ee:variables>
                <ee:set-variable variableName="ID"><![CDATA[attributes.uriParams.ID]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\identification\(ID):application\json:ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="b34a6138-634f-4c2f-9a46-f29869d06301" name="identification_update" />
    </flow>
    <flow name="delete:\communication\(ID):ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\communication\(ID):ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="7ec26d24-9390-48d0-b782-f896da00f3b6" name="communication_delete" />
    </flow>
    <flow name="delete:\identification\(ID):ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\identification\(ID):ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="a1f21fe8-d479-4343-a0e8-d2957bf1ab25" name="identification_delete" />
    </flow>
    <flow name="delete:\address\(ID):ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\address\(ID):ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="5e3b813a-1753-49ac-a6d0-28280285c8ee" name="address_delete" />
    </flow>
    <flow name="get:\communication\(ID):ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\communication\(ID):ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="b35abb70-5246-4585-857d-b1c1d1c3269e" name="communication_retrieve" />
    </flow>
    <flow name="get:\address\(ID):ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\address\(ID):ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="e4493fe7-ae4f-4d30-8c97-45e4213ad0dc" name="address_retrieve" />
    </flow>
    <flow name="get:\identification\(ID):ContactInfo-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.ID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\identification\(ID):ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="c87873a5-5c1d-4c2f-b2f1-9fcab267ce90" name="identification_retrieve" />
    </flow>
    <flow name="post:\address:application\json:ContactInfo-config">
        <logger level="INFO" message="post:\address:application\json:ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="79232618-4a74-4524-9290-1d2341560267" name="address_insert" />
    </flow>
    <flow name="post:\communication:application\json:ContactInfo-config">
        <logger level="INFO" message="post:\communication:application\json:ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="0c3f7009-7db7-441b-b387-a65143430b7f" name="communication_insert" />
    </flow>
    <flow name="post:\composite:application\json:ContactInfo-config">
        <logger level="INFO" message="post:\composite:application\json:ContactInfo-config" />
        <flow-ref doc:name="Flow Reference" doc:id="e3f5b091-2a60-44e2-815b-2ebfb3b7b01c" name="composte_insert" />
    </flow>
    <flow name="post:\identification:application\json:ContactInfo-config">
        <logger level="INFO" message="post:\identification:application\json:ContactInfo-config" />
		<flow-ref doc:name="Flow Reference" doc:id="2e9ecae0-85c8-4b59-84fd-d43cf2089efa" name="identification_insert" />
    </flow>
</mule>
